body {
    font-family:Arial,sans-serif;
    text-align:center;
    background-color:#333;
    color:#f0f0f0;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer;
    background-color:#166;
    color:#633;
}